input {
    file {
        path => "/Users/supatel/Documents/Personal/CMTInc/cargurus-emailLeads_111917_12_32.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter{
    csv{
        separator => ","
        columns => ["Lead Source","Dealer Name","Date","First Name","Last Name","ZIP","Email","Phone","Year","Model","VIN"]
    }

    date {
        match => [ "Date", "M/d/yy HH:mm" ]
        # target => [ "Date" ]
     }

    mutate {convert => ["VIN","integer"]}
    mutate {convert => ["Year", "integer"]}
    
}
output{
    elasticsearch{
        user => "elastic"
        password =>"changeme"
        hosts => "localhost"
        index => "carguruemail"
        document_type => "email_leads"
    }
    stdout {}
}