input {
    file {
        path => "/Users/supatel/Downloads/Rum-export-11-27-2017.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter{
    csv{
        separator => ","
        columns => ["ID","CI Name","Serial Number","Supported","Billing RUType1","Billing RUType2","Provisioning Request","Project Number","IP Address","Tier3","Product Name","Manufacturer","CMDB Model","Status","Status Category","Operating System","Site","Rack","Monitoring Type","Product Line","Workgroup","Environment (System Role)","Category (Device Function)"]
    }
    
}
output{
    elasticsearch{
        user => "elastic"
        password =>"changeme"
        hosts => "localhost"
        index => "rumdata"
        document_type => "servers"
    }
    stdout {}
}