input {
    file {
        path => "/Users/supatel/Documents/Personal/CMTInc/dealer-socket-new-leads-11-21-2017.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter{
    csv{
        separator => ","
        columns => ["Date","Name","Vehicle","Lead Source"]
    }

    date {
        match => [ "Date", "M/d/yy" ]
        # target => [ "Date" ]
     }

   # mutate {convert => ["VIN","integer"]}
   # mutate {convert => ["Year", "integer"]}
    
}
output{
    elasticsearch{
        user => "elastic"
        password =>"changeme"
        hosts => "localhost"
        index => "dealersocket"
        document_type => "all_leads"
    }
    stdout {}
}