## .sincedb 

input {
    file {
        path => "/Users/supatel/Documents/Personal/CMTInc/car-gurus-phoneLeads_111917_12_35.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter{
    csv{
        separator => ","
        columns => ["Lead Source","Dealer Name","Date","Caller","Phone","Call Staus","Call Duration","ZIP","Year","Model","VIN"]
    }

    date {
        match => [ "Date", "M/d/yy H:mm" ]
        # target => [ "Date" ]
    }

    mutate {convert => ["VIN","integer"]}
    mutate {convert => ["Year", "integer"]}

}
output{
    elasticsearch{
        user => "elastic"
        password =>"changeme"
        index => "carguruphone"
        hosts => ["127.0.0.1:9200"]
        document_type => "phone_leads"
    }
    stdout {}
}